{{define "index"}}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Index</title>
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
  <header class="header">
    <nav class="nav">
      <div class="text-left">
        <a href="/">Home</a>
        <a href="/add">Add</a>
      </div>
      <div class="logo">
        <img src="/assets/img/logo/1.png" alt="Streaming Logo" />
      </div>
      <div class="nav-right"></div>
    </nav>
  </header>

  <main>
    <h1>LES PRODUITS</h1>
    <div class="product-grid">
      {{range .}}
      <div class="product-card">
        <img src="{{.ImageUrl}}" alt="{{.Nom}}" />
        <h2>{{.Nom}}</h2>

        {{if ne .Reduction 0.0}}
          <p>
            <span style="text-decoration: line-through; color: gray;">{{.Prix}} €</span>
            <span style="color: red; font-weight: bold; margin-left: 10px;">{{.Reduction}} €</span>
          </p>
        {{else}}
          <p>{{.Prix}} €</p>
        {{end}}

        <a href="/article?id={{.ID}}" class="btn">Consulter</a>
      </div>
      {{end}}
    </div>
  </main>
</body>
</html>
{{end}}