body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.header {
  background-color: #111;
  padding: 5px 0;
}

h1 {
  text-align: left;
  margin: 50px ;
}
.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.text-left a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
padding: 5px 10px;
}

.logo img {
  width: 100px;
  height: auto;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px;
}

.product-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.btn {
  display: inline-block;
  background-color: red;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}

.product-card img {
  width: 50%;
  height: 50%;
  padding: 15px;
  gap: 10px;
}

.product-card h2 {
  margin: 10px 0;
  font-size: 18px;
}

.product-card p {
  font-weight: bold;
  margin-bottom: 5px;
}

.prix-original {
  text-decoration: line-through;
  color: gray;
}

.prix-reduit {
  color: red;
  font-weight: bold;
  margin-left: 10px;
}

.product-image {
  width: 300px;
}

.article-container {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 900px;
  margin: auto;
}

.article-image {
  width: 350px;
  border-radius: 8px;
}

.article-details {
  flex: 1;
}

.article-details h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.article-details p {
  font-size: 16px;
  margin-bottom: 8px;
}

.prix-original {
  text-decoration: line-through;
  color: gray;
}

.prix-reduit {
  color: red;
  font-weight: bold;
  margin-left: 10px;
}

.btn-panier {
  display: inline-block;
  padding: 10px 20px;
  background-color: crimson;
  color: white;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
}

.form-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.btn-red {
  background-color: #cc0000;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-red:hover {
  background-color: #a80000;
}

.form-actions {
  margin-top: 20px;
}
